*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: #f3f3f3;
}

/* Loader */

.loader-overlay{
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Nav */

nav{
  background-color: transparent;
  height: 10vh;
  display: flex;
  position: fixed;
  width: 100%;
  transition: linear 0.15s;
}

.nav-scroll{
  background-color: black;
  transition: linear 0.15s;
}

.nav-scroll .nav__icon p,
.nav-scroll .nav__options ul li{
  color: white;
}

.nav__container{
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.nav__icon{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.nav__icon:hover{
  cursor: pointer;
}

.nav__icon p{
  font-weight: bold;
}

.nav__icon p{
  color: black;
}

.nav__icon img{
  width: 25px;
}

.nav__options{
  display: flex;
  align-items: center;
}

.nav__options ul{
  display: flex;
  gap: 0.5rem;
  justify-content: end;
  height: 100%;
}

.nav__options ul li{
  color: black;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0 0.2rem;
}

.nav__options ul li:hover{
  cursor: pointer;
}

/* Home */

.home__container{
  padding: calc(10vh + 1rem) 0 2rem 0;
  max-width: 1200px;
  margin: 0 auto;
}

.home__menu{
  margin-bottom: 0.25rem;
}

.input-container{
  margin-bottom: 0.25rem;
  padding: 0 0.20rem;
}

.input-container form{
  display: flex;
  justify-content: space-between;
}

.input-container form input{
  border: none;
  background-color: white;
  padding: 0.5rem;
  width: 100%;
  font-size: 1em;
}

.input-container form input:focus{
  outline: none;
}

.input-container form button{
  color: black;
  border: none;
  padding: 0.5rem 0.75rem;
  background-color: transparent;
}

.input-container form button:hover{
  cursor: pointer;
}

.filter-container{
  display: flex;
  justify-content: flex-end;
  padding: 0 0.20rem;
}

.btn-for-filter{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 34px;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  background-color: transparent;
  color: black;
}

.btn-for-filter:hover{
  cursor: pointer;
}

.filter-by-category-overlay{
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.filter-by-category-space{
  width: 20%;
  height: 100%;
}

.filter-by-category-container{
  background-color: rgb(243, 243, 243);
  width: 80%;
  height: 100%;
  max-width: 350px;
}

.fbc-btn-container{
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.fbc-btn-container button{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: rgb(18, 35, 68);
}

.fbc-btn-container button:hover{
  cursor: pointer;
}

.fbc-options-container{
  padding: 0.5rem;
}

.fbc-category-container{
  padding: 0 0.5rem;
}

.fbc-category-container p{
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.fbc-category-container ul{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.fbc-category-container ul li{
  list-style: none;
  margin-left: 0.5rem;
  width: fit-content;
}

.fbc-category-container ul li:hover{
  cursor: pointer;
}

/* > Cart */

.cart-overlay{
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.cart-overlay-space{
  width: 20%;
  height: 100%;
}

.cart-container{
  background-color: rgb(243, 243, 243);
  width: 80%;
  height: 100%;
  max-width: 350px;
}

.cart-close-btn{
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.cart-close-btn button{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: rgb(18, 35, 68);
}

.cart-close-btn button:hover{
  cursor: pointer;
}

.cart-data-container{
  padding: 0.5rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 94%;
}

.cart-data-container h2{
  margin-bottom: 1.5rem;
  color: black;
}

.cart-items-container{
  height: 79.5%;
}

.cart-items-container ul{
  display: grid;
  gap: 0.5rem;
  overflow-x: auto;
  padding: 0.5rem;
  max-height: 100%;
}

.cart-data-container ul li{
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 3px;
  height: fit-content;
}

.cart-data-container ul li .pd-line{
  margin-bottom: 0;
}

.cart-item-img-description{
  display: flex;
  gap: 0.5rem;
}

.cart-item-img{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-img img{
  max-width: 45px;
  max-height: 45px;
}

.cart-item-description{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-quantity-options{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.cart-item-options{
  display: flex;
}

.cart-item-options span{
  height: 34px;
  background-color: rgb(218, 218, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
  width: 34px;
}

.cart-item-options button{
  height: 34px;
  width: 34px;
  background-color: black;
  color: white;
  border: none;
}

.cart-item-options button:hover{
  cursor: pointer;
}

.cart-item-delete-btn{
  height: 34px;
  width: 34px;
  color: black;
  background-color: transparent;
  border: none;
}

.cart-item-delete-btn:hover{
  cursor: pointer;
}

.cart-total-pay-container{
  padding: 0 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: end;
}

.cart-checkout-btn{
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
  border: none;
}

.cart-checkout-btn:hover{
  cursor: pointer;
}

.cart-empty{
  display: flex;
  height: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.cart-empty h2,
.cart-empty i{
  color: black;
}

/* Products */

.products-ul-container{
  min-height: 60vh;
  padding: 0 0.2rem;
}

.products-ul-container ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem;
}

.products-ul-container ul li{
  list-style: none;
}

.product-card{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  transition: 0.3s;
}

.product-card:hover{
  cursor: pointer;
  box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.10);
  transition: 0.3s;
}

.product-image{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.product-image img{
  height: 70px;
}

.product-line{
  height: 1px;
  width: 80%;
  background-color: rgb(194, 194, 194);
}

.product-title{
  margin-bottom: 1rem;
}

.product-description{
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.product-price-buy{
  display: flex;
  justify-content: space-between;
}

.product-price p{
  font-size: 14px;
}

.product-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.add-product-btn{
  height: 34px;
  width: 42px;
  border: none;
  background-color: rgb(18, 35, 68);
  color: white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Product Detailed */

.product-detailed-container{
  padding: 0.2rem;
  padding-top: calc(8vh + 1rem);
}

.pd-btn-container{
  display: flex;
}

.pd-btn-container button{
  color: black;
  padding: 5px 8px 5px 0;
  border: none;
  background-color: transparent;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
}

.pd-btn-container button:hover{
  cursor: pointer;
}

.pd-btn-container button:hover p{
  text-decoration: underline;
}

.pd-category-container{
  margin-bottom: 0.5rem;
}

.pd-category-container p{
  color: rgb(150, 150, 150);
  font-size: 0.9em;
}

.product-container{
  margin: 0 0 1rem 0;
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-container p{
  font-size: 1rem;
}

.product-container .product-price-buy{
  width: 100%;
  flex-direction: column;
  gap: 1.5rem;
}

.product-container .product-price-buy p{
  font-size: 1.4rem;
}

.pd-img-container{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.pd-img-container img{
  max-width: 225px;
  max-height: 275px;
}

.pd-line{
  height: 1px;
  width: 95%;
  background-color: rgb(194, 194, 194);
  margin: 0.5rem 0;
}

.pd-description-container{
  padding: 1rem;
  background-color: white;
  margin-bottom: 1rem;
}

.pd-description-container h3{
  margin-bottom: 0.5rem;
}

.pd-product-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
}

.pd-product-quantity{
  height: 40px;
  display: flex;
  justify-content: center;
}

.pd-product-quantity span{
  width: 40px;
  background-color: rgb(218, 218, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
}

.pd-product-quantity button{
  width: 40px;
  border: none;
  background-color: black;
  color: white;
}

.pd-product-quantity button:hover{
  cursor: pointer;
}

.pd-add-product-btn{
  width: 100%;
  padding: 0.5rem;
  height: 40px;
  border: none;
  background-color: black;
  color: white;
}

.pd-add-product-btn{
  cursor: pointer;
}

.pd-sugested-products-container{
  background-color: white;
  padding: 1rem;
}

.pd-sugested-products-ul ul{
  display: grid;
  gap: 0.2rem;
  grid-auto-flow: column;
  overflow-x: auto;
  padding: 1rem 1rem;
  max-width: fit-content;
}

.pd-sugested-products-ul ul li{
  outline: 1px solid whitesmoke;
  list-style: none;
  padding: 1rem;
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}

.pd-sugested-products-ul ul li:hover{
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.10);
  transition: 0.3s;
}

.pd-sugested-product-img-txt{
  width: 100%;
}

.pd-sugested-product-img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.pd-sugested-product-img img{
  max-height: 100px;
  max-width: 150px;
}

.pd-sugested-products-ul ul li .product-price-buy{
  margin-top: 1rem;
  width: 100%;
}

/* Login */

.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0.2rem;
  padding-top: calc(8vh + 2rem);
}

.login-test-container{
  background-color: white;
  padding: 1rem;
  text-align: center;
}

.login-test-credentials-container{
  background-color: #f3f3f3;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.login-test-credentials-container button{
  border: none;
  background-color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  color: white;
}

.login-form-container{
  background-color: white;
  padding: 1rem;
}

.login-form-container h2{
  margin-bottom: 1rem;
  color: black;
}

.login-form-container button{
  width: 100%;
  height: 40px;
  border: none;
  background-color: black;
  color: white;
  margin-top: 0.2rem;
}

.login-form-container button:hover{
  cursor: pointer;
}

.login-form-container button:focus{
  outline: none;
}

.login-input-container{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 0.7rem;
}

.login-input-container label{
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.login-input-container label{
  font-size: 1.1rem;
}

.login-input-container input{
  width: 100%;
  border: none;
  background-color: #f3f3f3;
  padding: 0.5rem;
  font-size: 1rem;
}

.login-input-container input:focus{
  outline: none;
}

.lg-input-container{
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.lg-input-container i{
  color: black;
}

.lg-input-container i:hover{
  cursor: pointer;
}

.login-extra-data{
  height: 20vh;
}

/* User */

.user-view-container{
  padding: 2rem;
  padding-top: calc(8vh + 2rem);
}

.user-data-container{
  background-color: white;
  padding: 1rem;
}

.user-data-img-container{
  display: flex;
  justify-content: center;
}

.user-data-img-container img{
  width: 75px;
  border-radius: 50%;
}

.user-data-name-container{
  padding: 0.5rem;
  margin: 0.5rem 0 2rem 0;
  display: flex;
  justify-content: center;
}

.user-data-container button{
  width: 100%;
  height: 40px;
  border: none;
  background-color: black;
  color: white;
}

.user-data-container button:hover{
  cursor: pointer;
}

.user-extra-data{
  height: 50vh;
}

/* Purchases */

.purchases-view-container{
  padding: 1rem 0.2rem;
  padding-top: calc(8vh + 1rem);
}

.purchases-view-container h2{
  margin-bottom: 1rem;
}

.pch-ul-container{
  max-width: 1200px;
  margin: 0 auto;
}

.pch-ul{
  display: grid;
  gap: 1rem;
  margin-top: 0.5rem;
}

.pch-container{
  list-style: none;
  padding: 0.75rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purchases-view-container .pd-line{
  width: 100%;
}

.pch-date-container{
  width: 100%;
}

.pch-products-container{
  width: 100%;
}

.pch-ul-products{
  display: grid;
  width: 100%;
  gap: 0.5rem;
}

.pch-ul-products .pd-line{
  margin: 0;
}

.pch-product-container{
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 0.5rem;
}

.pch-pd-img-title-price{
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.pch-pd-img{
  min-width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pch-pd-img img{
  max-width: 45px;
  max-height: 45px;
}

.pch-pd-description{
  display: flex;
  justify-content: space-between;
}

.pch-total-container{
  width: 100%;
  margin-top: 0.5rem;
  text-align: end;
}

.pch-total-pchs-container{
  margin-top: 1rem;
  text-align: center;
}

/* Footer */

.footer-container{
  background-color: black;
  padding: 2rem 1rem 1rem 1rem;
  text-align: center;
  
}

.footer-container p{
  color: white;
  font-weight: 500;
}

.footer-container ul li{
  list-style: none;
}

.footer-container ul li a{
  text-decoration: none;
  color: rgb(150, 150, 150);
  transition: 0.2s;
}

.footer-container ul li a:hover{
  color: white;
  transition: 0.2s;
}

.footer-container ul li{
  color: rgb(150, 150, 150);
  font-weight: 500;
  width: fit-content;
  transition: 0.2s;
}

.footer-container ul li:hover{
  cursor: pointer;
  color: white;
  transition: 0.2s;
}

.footer-container h3{
  color: white;
}

.ft-about-container li,
.ft-our-information-container li,
.ft-product-container li{
  cursor: pointer;
}

.ft-about-container,
.ft-our-information-container,
.ft-product-container,
.ft-ecommerce-social-media-container{
  text-align: start;
  margin-bottom: 1.5rem;
}

.ft-about-container ul,
.ft-our-information-container ul,
.ft-product-container ul{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 0.5rem;
}

.ft-about-container li,
.ft-our-information-container li,
.ft-product-container li{
  font-size: 0.95rem;
}

.ft-ecommerce-social-media-container ul{
  display: flex;
  margin-top: 1rem;
  margin-bottom: 3rem;
  gap: 0.2rem;
}

.ft-social-media-container{
  margin: 1rem 0;
}

.ft-social-media-container ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ft-social-media-container a i{
  color: rgb(150, 150, 150);
  transition: 0.2s;
}

.ft-social-media-container a i:hover{
  color: white;
  transition: 0.2s;
}

/* <!-- --> */

/*          Desktop          */

/* <!-- --> */

@media screen and ( min-width: 600px ) {

  /* Home */

  .products-ul-container ul{
    grid-template-columns: 1fr 1fr;
    gap: 0.2rem;
  }

  .products-ul-container ul li{
    width: 100%;
  }
  
  .pch-ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* Product Detailed */

  .pd-product-button{
    justify-content: end;
  }

  .pd-add-product-btn{
    width: fit-content;
    padding: 0 3rem;
  }

  /* User */

  .user-data-container{
    max-width: 400px;
    margin: 0 auto;
  }

  /* Purchases */

  .pch-ul-container{
    display: flex;
    gap: 2rem;
  }

  .pch-total-container{
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
  }

  /* Footer */

  .footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ft-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 750px;
  }

  .ft-ecommerce-social-media-container ul{
    display: flex;
    margin-top: 0.4rem;
  }

}

@media screen and ( min-width: 992px ){

  /* Products */

  .products-ul-container ul{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.2rem;
  }

  /* Product Detailed */

  .product-detailed-container{
    max-width: 1200px;
    margin: 0 auto;
  }

  .product-container{
    justify-content: space-between;
  }

  .product-desc-buy{
    display: flex;
    gap: 0.2rem;
  }

  .pd-img-container{
    width: 750px;
    height: 300px;
    align-items: center;
  }

  /* Purchases */

  .purchases-view-container{
    padding: 1rem 2rem;
    padding-top: calc(10vh + 1rem);
  }

  .pch-ul{
    grid-template-columns: 1fr 1fr 1fr;
  }

}

@media screen and ( min-width: 1280px ){

  /* Products */

  .products-ul-container ul{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /* Purchases */

  .pch-ul{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}