@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Urbanist', sans-serif;
}

body{
  background-color: #f3f3f3;
}

.line-bar{
  height: 1px;
  background-color: rgb(194, 194, 194);
  width: 100%;
  background-image: linear-gradient(to left, transparent, transparent 50%, black 50%, black);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.25s ease-in;
}

/* Loader */

.loader-overlay{
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  transition: 0.5s;
}

.loader-overlay__appear{
  opacity: 1;
  transition: 0.5s;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Nav */

nav{
  background-color: transparent;
  height: 10vh;
  display: flex;
  position: fixed;
  width: 100%;
  transition: linear 0.15s;
  z-index: 1;
}

.nav-scroll{
  background-color: black;
  transition: linear 0.15s;
}

.nav-scroll .nav__icon p,
.nav-scroll .nav__options ul li{
  color: white;
}

.nav-scroll .nav__icon img{
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.nav__container{
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.nav__icon{
  display: flex;
  gap: 0.35rem;
  align-items: center;
}

.nav__icon:hover{
  cursor: pointer;
}

.nav__icon p{
  font-weight: bold;
}

.nav__icon p{
  color: black;
}

.nav__icon img{
  width: 20px;
}

.nav__options{
  display: flex;
  align-items: center;
}

.nav__options ul{
  display: flex;
  justify-content: end;
  height: 100%;
}

.nav__options ul li{
  color: black;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.nav__options ul li:hover{
  cursor: pointer;
}

/* Home */

.home__container{
  padding: calc(10vh + 1rem) 0 2rem 0;
  max-width: 1200px;
  margin: 0 auto;
}

.pop-up__logged-in{
  position: fixed;
  z-index: 2;
  top: -50px;
  left: calc(50% - 125px);
  padding: 0.5rem;
  width: 250px;
  display: flex;
  justify-content: center;
  background-color: green;
  text-align: center;
  transition: 0.5s;
}

.pop-up__logged-in p{
  color: white;
}

.active__logged-in{
  transform: translate(0, 60px);
}

.pop-up__logged-out{
  position: fixed;
  z-index: 2;
  top: -50px;
  left: calc(50% - 125px);
  padding: 0.5rem;
  width: 250px;
  display: flex;
  justify-content: center;
  background-color: green;
  text-align: center;
  transition: 0.5s;
}

.pop-up__logged-out p{
  color: white;
}

.active__logged-out{
  transform: translate(0, 60px);
}

.home__menu{
  margin-bottom: 0.25rem;
}

.input-container{
  margin-bottom: 0.25rem;
  padding: 0 1rem;
}

.input-container form{
  display: flex;
  justify-content: space-between;
}

.input-container form input{
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 1em;
  border-radius: 0;
}

.input-container form input:focus{
  outline: none;
}

.fill{
  background-position: 0 0;
}

.input-container form button{
  color: black;
  background-color: transparent;
  border: none;
  padding: 0.2rem 0.75rem;
}

.input-container form button:focus{
  outline: none;
}

.input-container form button:hover{
  cursor: pointer;
}

.filter-container{
  display: flex;
  justify-content: end;
  padding: 0 1rem;
}

.filter-container__show-all{
  border: none;
  margin: 0 auto 0 0;
  background-color: transparent;
  color: black;
}

.filter-container__show-all:hover{
  text-decoration: underline;
  cursor: pointer;
}

.btn-for-filter{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 34px;
  padding: 0.5rem 0.75rem;
  background-color: transparent;
  color: black;
}

.btn-for-filter:hover{
  cursor: pointer;
}

.filter-by-category-overlay{
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: 0.5s;
  z-index: 2;
}

.filter-by-category-overlay__appear{
  opacity: 1;
  transition: 0.5;
}

.filter-by-category-container{
  background-color: rgb(243, 243, 243);
  width: 80%;
  height: 100%;
  max-width: 350px;
  position: fixed;
  right: -350px;
  transition: 0.5s;
}

.filter-by-category-container__appear{
  transform: translate(-350px, 0);
  transition: 0.5s;
}

.fbc-btn-container{
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.fbc-btn-container button{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: rgb(18, 35, 68);
}

.fbc-btn-container button:hover{
  cursor: pointer;
}

.fbc-options-container{
  padding: 1rem;
}

.fbc-category-container{
  padding: 0 1rem;
}

.fbc-category-container p{
  color: white;
  margin: 1rem 0 0 0;
  background-color: black;
  width: fit-content;
  padding: 0.2em 0.4rem;
  font-size: 0.9em;
}

.fbc-category-container ul{
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 0 0;
  gap: 0.5rem;
}

.fbc-category-container ul li{
  list-style: none;
  margin-left: 0.5rem;
  width: fit-content;
  font-size: 0.9em;
}

.fbc-category-container ul li:hover{
  cursor: pointer;
  text-decoration: underline;
}

/* > Cart */

.cart-overlay{
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: 0.5s;
  z-index: 2;
}

.cart-overlay__appear{
  opacity: 1;
  transition: 0.5s;
}

.cart-container{
  background-color: rgb(243, 243, 243);
  width: 80%;
  height: 100%;
  max-width: 350px;
  position: fixed;
  right: -350px;
  transition: 0.5s;
}

.cart-container__appear{
  transform: translate(-350px, 0);
  transition: 0.5s;
}

.cart-close-btn{
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.cart-close-btn button{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: rgb(18, 35, 68);
}

.cart-close-btn button:hover{
  cursor: pointer;
}

.cart-data-container{
  padding: 0.5rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 94%;
}

.cart-data-container h2{
  color: black;
  width: fit-content;
  padding: 0.2em 0.5rem;
}

.cart-items-container{
  height: 79.5%;
}

.cart-items-container ul{
  display: grid;
  gap: 0.5rem;
  overflow-x: auto;
  padding: 0.5rem;
  max-height: 100%;
}

.cart-data-container ul li{
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 3px;
  height: fit-content;
}

.cart-data-container ul li .pd-line{
  margin-bottom: 0;
}

.cart-item-img-description{
  display: flex;
  gap: 0.5rem;
}

.cart-item-img{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-img img{
  max-width: 45px;
  max-height: 45px;
}

.cart-item-description{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-quantity-options{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.cart-item-options{
  display: flex;
}

.cart-item-options span{
  height: 34px;
  background-color: rgb(218, 218, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
  width: 34px;
}

.cart-item-options button{
  height: 34px;
  width: 34px;
  background-color: black;
  color: white;
  border: none;
}

.cart-item-options button:hover{
  cursor: pointer;
}

.cart-item-delete-btn{
  height: 34px;
  width: 34px;
  color: black;
  background-color: transparent;
  border: none;
}

.cart-item-delete-btn:hover{
  cursor: pointer;
}

.cart-total-pay-container{
  padding: 0 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: end;
}

.cart-checkout-btn{
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
  border: none;
}

.cart-checkout-btn:hover{
  cursor: pointer;
}

.cart-checkout-btn:focus{
  outline: 1px dotted black;
}

.cart-empty{
  display: flex;
  height: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.cart-empty h2,
.cart-empty i{
  color: black;
}

/* Products */

.products-ul-container{
  min-height: 60vh;
  padding: 0 0.2rem;
}

.products-ul-container ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem;
}

.products-ul-container ul li{
  list-style: none;
}

.product-card{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  transition: 0.3s;
}

.product-card:hover{
  cursor: pointer;
  transition: 0.3s;
}

.product-card:hover .line-bar{
  background-position: 0 0;
}

.product-image{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.product-image img{
  height: 70px;
}

.product-line{
  height: 1px;
  width: 80%;
  background-color: rgb(194, 194, 194);
}

.product-title{
  margin-bottom: 1rem;
  font-size: 0.9em;
  padding: 1rem 1rem 0 1rem;
}

.product-description{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.product-price-buy{
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.product-price{
  padding: 0 1rem;
}

.product-price p{
  font-size: 0.8em;
}

.product-price-buy .line-bar{
  background-color: white;
}

.product-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.add-product-btn{
  height: 34px;
  width: 42px;
  border: none;
  background-color: rgb(18, 35, 68);
  color: white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Product Detailed */

.product-detailed-container{
  padding: 0.2rem;
  padding-top: calc(10vh + 1rem);
}

.pd-btn-container{
  display: flex;
}

.pd-btn-container button{
  color: black;
  padding: 0 0.25rem;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pd-btn-container button i{
  transition: 0.5s;
}

.pd-btn-container button:hover{
  cursor: pointer;
}

.pd-btn-container button:hover p{
  text-decoration: underline;
}

.pd-btn-container button:hover i{
  transform: translate(-5px, 0);
}

.pd-category-container{
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 0.1rem;
}

.pd-category-container p{
  font-size: 0.9em;
}

.pd-category-container__category,
.pd-category-container__brand{
  width: fit-content;
  padding: 0.2em 0.4rem;
  margin: 0.5rem 0 0.2rem 0;
  background-color: black;
}

.pd-category-container__category p,
.pd-category-container__brand p{
  color: white;
}

.product-container__container{
  background-color: white;
  margin: 0 0 1rem 0;
}

.product-container__container .pd-line{
  width: 100%;
  background-color: black;
}

.product-container{
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-container .pd-line{
  width: 90%;
  background-color: rgb(194, 194, 194);
}

.product-container p{
  font-size: 1rem;
}

.product-container .product-price-buy{
  width: 100%;
  flex-direction: column;
  gap: 1.5rem;
}

.product-container .product-price-buy p{
  font-size: 1.4rem;
}

.product-container .product-price{
  padding: 0;
}

.pd-img-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.pd-img-container__img{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.pd-img-container__img img{
  max-width: 225px;
  max-height: 150px;
  height: 150px;
}

.pd-img-container__imgs{
  display: flex;
  padding: 0.5rem 0;
  justify-content: center;
  gap: 0.5rem;
}

.imgs__img{
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-bottom: 1px solid black;
  width: 80px;
  cursor: pointer;
  opacity: 0.3;
  transition: 0.33s;
}

.imgs__img:hover{
  opacity: 1;
  transition: 0.33s;
}

.imgs__img img{
  height: 50px;
}

.pd-line{
  height: 1px;
  width: 90%;
  background-color: rgb(194, 194, 194);
  margin: 0.5rem 0;
}

.pd-description-container{
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.pd-description-container h3{
  margin-bottom: 0.5rem;
}

.pd-description-container__description{
  background-color: white;
}

.description-container{
  padding: 1rem;
}

.pd-description-container .line-bar{
  background-color: black;
}

.pd-description-container__additional{
  background-color: white;
}

.additional-container{
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pd-product-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
}

.pd-product-quantity{
  height: 40px;
  display: flex;
  justify-content: center;
}

.pd-product-quantity span{
  width: 40px;
  background-color: rgb(218, 218, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
}

.pd-product-quantity button{
  width: 40px;
  border: none;
  background-color: black;
  color: white;
}

.pd-product-quantity button:hover{
  cursor: pointer;
}

.pd-add-product-btn{
  width: 100%;
  padding: 0.5rem;
  height: 40px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

.pd-add-product-btn:focus{
  outline: 1px dotted black;
}

.pd-sugested-products-container{
  background-color: transparent;
  padding: 1rem;
}

.pd-sugested-products-ul ul{
  display: grid;
  gap: 0.2rem;
  grid-auto-flow: column;
  overflow-x: auto;
  padding: 1rem 0;
  max-width: fit-content;
}

.pd-sugested-products-ul ul li{
  list-style: none;
  padding: 1rem 0 0 0;
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
  background-color: white;
}

.pd-sugested-products-ul ul li:hover{
  cursor: pointer;
  transition: 0.3s;
}

.pd-sugested-products-ul ul li:hover .line-bar{
  background-position: 0 0;
}

.pd-sugested-product-img-txt{
  width: 100%;
  padding: 0 1rem;
}

.pd-sugested-product-img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.pd-sugested-product-img img{
  max-height: 100px;
  max-width: 150px;
}

.pd-sugested-products-ul ul li .product-price-buy{
  margin-top: 1rem;
  width: 100%;
  gap: 1rem;
}

/* Signup */

.signup__container{
  padding-top: calc(10vh + 2rem);
  min-height: calc(90vh);
  padding-bottom: 3rem;
}

.pop-up__signup-failed{
  position: fixed;
  z-index: 2;
  top: -50px;
  left: calc(50% - 125px);
  padding: 0.5rem;
  width: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: orange;
  text-align: center;
  transition: 0.5s;
}

.pop-up__signup-failed p{
  color: white;
}

.signup-failed__desc{
  text-align: start;
}

.active__signup-failed{
  transform: translate(0, 60px);
}

.signup__form-container{
  padding: 1rem 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 0 auto;
  max-width: 400px;
}

.signup__form-container form{
  display: flex;
  flex-direction: column;
}

.signup__form-container form label{
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  margin: 0 0 0.5rem 0;
  font-weight: bold;
  color: rgb(100, 100, 100);
}

.signup__form-container form input{
  width: 100%;
  border: none;
  background-color: #f3f3f3;
  padding: 0.5rem 0;
  font-size: 1rem;
  border-radius: 0;
}

.signup__form-container form input:focus{
  outline: none;
}

.signup__form-container form input:focus ~ .line-bar{
  background-position: 0 0;
} 

.signup__input-container{
  margin-bottom: 1.75rem;
}

.signup__input-pw{
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
}

.signup__input-pw i{
  color: black;
  background-color: #f3f3f3;
  padding: 0 0.5rem;
}

.signup__input-pw i:hover{
  cursor: pointer;
}

.signup__form-container button{
  width: 100%;
  height: 40px;
  border: none;
  background-color: black;
  color: white;
  margin-top: 0.2rem;
}

.signup__form-container button:hover{
  cursor: pointer;
}

.signup__form-container button:focus{
  outline: 1px dotted black;
}

.signup__login{
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
}

.signup__login button{
  background-color: transparent;
  border: none;
  font-weight: bold;
  padding: 0.5rem;
  color: black;
}

.signup__login button:hover{
  cursor: pointer;
}

.signup__login button:hover .line-bar{
  background-position: 0 0;
}

.signup__login .line-bar{
  background-color: transparent;
  height: 2px;
}

/* Login */

.pop-up__login-failed{
  position: fixed;
  z-index: 2;
  top: -50px;
  left: calc(50% - 125px);
  padding: 0.5rem;
  width: 250px;
  display: flex;
  justify-content: center;
  background-color: #ED4337;
  text-align: center;
  transition: 0.5s;
}

.pop-up__login-failed p{
  color: white;
}

.active__login-failed{
  transform: translate(0, 60px);
}

.pop-up__user-created{
  position: fixed;
  z-index: 2;
  top: -50px;
  left: calc(50% - 125px);
  padding: 0.5rem;
  width: 250px;
  display: flex;
  justify-content: center;
  background-color: green;
  text-align: center;
  transition: 0.5s;
}

.pop-up__user-created p{
  color: white;
}

.active__user-created{
  transform: translate(0, 60px);
}

.login-container{
  padding-top: calc(10vh + 2rem);
  min-height: calc(90vh);
  padding-bottom: 3rem;
}

.login-test-container{
  padding: 1rem 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 1rem auto 0 auto;
  max-width: 400px;
  gap: 0.5rem;
}

.login-test-container p{
  font-size: 0.75em;
}

.login-test-credentials-container{
  background-color: white;
  padding: 0.5rem;
}

.login-test-credentials-container p{
  font-size: 1em;
}

.login-form-container{
  padding: 1rem 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 0 auto;
  max-width: 400px;
}

.login-form-container form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form-container .line-bar{
  background-color: rgb(194, 194, 194);
}

.login-form-container button{
  width: 100%;
  height: 40px;
  border: none;
  background-color: black;
  color: white;
  margin-top: 0.2rem;
}

.login-form-container button:hover{
  cursor: pointer;
}

.login-form-container button:focus{
  outline: 1px dotted black;
}

.login-input-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7rem;
}

.login-input-container label{
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  margin: 0 0 0.5rem 0;
  font-weight: bold;
  color: rgb(100, 100, 100);
}

.login-input-container input{
  width: 100%;
  border: none;
  background-color: #f3f3f3;
  padding: 0.5rem 0;
  font-size: 1rem;
  border-radius: 0;
}

.login-input-container input:focus{
  outline: none;
}

.lg-input-container{
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
}

.lg-input-container i{
  color: black;
  background-color: #f3f3f3;
  padding: 0 0.5rem;
}

.lg-input-container i:hover{
  cursor: pointer;
}

.login__signup{
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
}

.login__signup button{
  background-color: transparent;
  border: none;
  font-weight: bold;
  padding: 0.5rem;
  color: black;
}

.login__signup button:hover{
  cursor: pointer;
}

.login__signup button:hover .line-bar{
  background-position: 0 0;
}

.login__signup .line-bar{
  background-color: transparent;
  height: 2px;
}

/* User */

.user-view-container{
  padding: 1rem 0.2rem;
  padding-top: calc(10vh + 1rem);
  min-height: 90vh;
}

.user-data-container{
  padding: 1rem;
}

.user-data-img-container{
  display: flex;
  justify-content: center;
}

.user-data-img-container img{
  width: 100px;
}

.user-data-name-container{
  padding: 0.5rem;
  margin: 0 0 3rem 0;
  display: flex;
  justify-content: center;
}

.user-data-container button{
  width: 100%;
  height: 40px;
  border: none;
  background-color: black;
  color: white;
}

.user-data-container button:hover{
  cursor: pointer;
}

.user-data-container button:focus{
  outline: 1px dotted black;
}

/* Purchases */

.purchases-view-container{
  padding: 1rem 0.2rem;
  padding-top: calc(10vh + 1rem);
  min-height: 90vh;
}

.purchases-view-container h2{
  color: black;
  padding: 0.2rem 0.4rem;
}

.pch-ul-container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pch-ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.pch-container{
  width: 100%;
  list-style: none;
  padding: 0.75rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;

}

.purchases-view-container .pd-line{
  width: 100%;
}

.pch-date-container{
  width: 100%;
}

.pch-products-container{
  width: 100%;
}

.pch-ul-products{
  display: grid;
  width: 100%;
  gap: 0.5rem;
}

.pch-ul-products .pd-line{
  margin: 0;
}

.pch-product-container{
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pch-pd-img-title-price{
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.pch-pd-img{
  min-width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pch-pd-img img{
  max-width: 45px;
  max-height: 45px;
}

.pch-pd-description{
  display: flex;
  justify-content: space-between;
}

.pch-total-container{
  width: 100%;
  margin-top: 0.5rem;
  text-align: end;
}

.pch-total-pchs-container{
  margin-top: 1rem;
  text-align: center;
}

.pch-total-pchs-container__no-purchase{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.pch-total-pchs-container__no-purchase button{
  background-color: transparent;
  border: none;
  font-weight: bold;
  padding: 0.5rem;
  color: black;
}

.pch-total-pchs-container__no-purchase button:hover{
  cursor: pointer;
}

.pch-total-pchs-container__no-purchase .line-bar{
  background-color: transparent;
  height: 2px;
}

.pch-total-pchs-container__no-purchase button:hover .line-bar{
  background-position: 0 0;
}

/* Footer */

.footer-container{
  background-color: black;
  padding: 2rem 1rem 1rem 1rem;
  text-align: center;
  
}

.footer-container p{
  color: white;
  font-weight: bold;
  font-size: 0.8em;
}

.footer-container ul li{
  list-style: none;
}

.footer-container ul li a{
  text-decoration: none;
  color: rgb(150, 150, 150);
  transition: 0.2s;
}

.footer-container ul li a:hover{
  color: white;
  transition: 0.2s;
}

.footer-container ul li{
  color: rgb(150, 150, 150);
  font-weight: bold;
  width: fit-content;
  transition: 0.2s;
}

.footer-container ul li:hover{
  cursor: pointer;
  color: white;
  transition: 0.2s;
}

.footer-container h3{
  color: white;
  font-size: 0.9em;
}

.ft-about-container li,
.ft-our-information-container li,
.ft-product-container li{
  cursor: pointer;
}

.ft-about-container,
.ft-our-information-container,
.ft-product-container,
.ft-ecommerce-social-media-container{
  text-align: start;
  margin-bottom: 1.5rem;
}

.ft-about-container ul,
.ft-our-information-container ul,
.ft-product-container ul{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 0.5rem;
}

.ft-about-container li,
.ft-our-information-container li,
.ft-product-container li{
  font-size: 0.9rem;
}

.ft-ecommerce-social-media-container ul{
  display: flex;
  margin-top: 1rem;
  margin-bottom: 3rem;
  gap: 0.2rem;
}

.ft-social-media-container{
  margin: 4rem 0 0.5rem 0;
}

.ft-social-media-container ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.ft-social-media-container a i{
  color: rgb(150, 150, 150);
  transition: 0.2s;
}

.ft-social-media-container a i:hover{
  color: white;
  transition: 0.2s;
}

/* <!-- --> */

/*          Desktop          */

/* <!-- --> */

@media screen and ( min-width: 600px ) {

  /* Nav */

  .nav__options ul li{
    padding: 0 0.75rem;
  }

  /* Home */

  .products-ul-container ul{
    grid-template-columns: 1fr 1fr;
    gap: 0.2rem;
  }

  .products-ul-container ul li{
    width: 100%;
  }

  /* Product Detailed */

  .pd-description-container__description{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .pd-img-container__img img{
    max-width: 450px;
    max-height: 300px;
    height: 300px;
  }

  .imgs__img{
    width: 160px;
  }

  .imgs__img img{
    height: 100px;
  }

  .pd-product-button{
    justify-content: end;
  }

  .pd-add-product-btn{
    width: fit-content;
    padding: 0 3rem;
  }

  /* User */

  .user-data-container{
    max-width: 400px;
    margin: 0 auto;
  }

  /* Purchases */

  .pch-total-container{
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
  }

  /* Footer */

  .footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ft-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 750px;
  }

  .ft-ecommerce-social-media-container ul{
    display: flex;
    margin-top: 0.4rem;
  }

}

@media screen and ( min-width: 992px ){

  /* Products */

  .products-ul-container ul{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.2rem;
  }

  /* Product Detailed */

  .product-container__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product-container__container .pd-line{
    margin: 0;
  }

  .product-detailed-container{
    max-width: 1200px;
    margin: 0 auto;
  }

  .product-container{
    justify-content: space-between;
    height: 100%;
  }

  .product-desc-buy{
    display: flex;
    gap: 0.2rem;
  }

  .pd-img-container{
    width: 750px;
    align-items: center;
  }

  .pd-description-container{
    gap: 0.2rem;
  }

  .pd-sugested-products-container{
    padding: 2rem 0;
  }

  /* Purchases */
  
  .purchases-view-container{
    padding: 1rem 2rem;
    padding-top: calc(10vh + 1rem);
  }

}

@media screen and ( min-width: 1280px ){

  /* Products */

  .products-ul-container ul{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}